*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --font-title: 'Style Script', sans-serif;
    --font-subtitle: 'Ubuntu', sans-serif;
    --font-parrafo: 'Manrope', sans-serif;
    --font-size-s: 16px;
    --font-size-m: 22px;
    --font-size-l: 80px;
    --color-1:#090934;
    --color-2:#101056;
    --color-3:rgba(95, 158, 160, 0.8);
    --color-4:rgba(139, 216, 192, 0.8);
    --color-5:rgba(212, 247, 236, 0.8);
  
  }

body{
background-image:linear-gradient(rgba(235, 237, 243, 0.5),rgba(239, 241, 248, 0.5)), url(./images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.fondo{
    margin-top: 200px!important;
}
.titulos{
    font-family: var(--font-title);
    font-size: var(--font-size-l);
}